/* Tool-bar; Button/ToggleButton/MenuButton/MenuItem */
.button, .toggle-button, .menu-item, .menu-button, .context-menu{
  -fx-background-color: #858585;
  -fx-text-fill: black;
  -fx-cursor: hand;
}

.button:focused, .toggle-button:focused, .menu-item:focused, .menu-button:focused {
  -fx-effect: dropshadow( gaussian , yellow , 2,0,0,1 );
}

.button:hover, .toggle-button:hover, .menu-item:hover, .menu-button:hover{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,1 );
  -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,0 );
}

.button:pressed, .toggle-button:pressed, .menu-item:pressed, .menu-button:pressed{
  -fx-background-color: #454545;
  -fx-cursor: closed_hand;
}

.toggle-button:selected {
  -fx-text-fill: #858585;
  -fx-background-color: #454545;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,1 );
  -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,0 );
}

.tool-bar{
  -fx-background-color: #505050;
  -fx-cursor: default;
}

.menu-item {
    -fx-font-size: 11;
}

/* Alert */
.dialog-pane{
    -fx-background-color: #505050;
}
.dialog-pane > *.button-bar > *.container{
    -fx-background-color: #505050;
}
.dialog-pane > *.label.content{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #252525;
}
.dialog-pane:header *.header-panel{
    -fx-background-color: #252525;
}
.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #757575;
}